body {
  font-family: "Roboto", sans-serif;

  nav.nav-wrapper {
    display: flex;
    justify-content: center;

    nav.navbar {
      padding: 2%;
      position: absolute;

      p.nav-logo {
        font-weight: bolder;
        font-size: 120%;
      }
    }
  }

  main.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    text-align: center;

    h2.firsttext {
      font-weight: bold;
      font-size: 200%;
    }

    .secondtext-desktop {
      text-align: center;
    }

    @media (max-width: 547px) {
      .secondtext-desktop {
        padding: 0px 40px;
      }
    }

    @media (max-width: 538px) {
      .firsttext {
        padding: 0px 40px;
      }
    }

    // @media (max-width: 600px) {
    //   .secondtext-mobile {
    //     display: block; /* Show mobile text on smaller screens */
    //   }
    //   .secondtext-desktop {
    //     display: none; /* Hide desktop text on smaller screens */
    //   }
    // }
  }
}
